<%= form_for @archive do |f| %>
    <h4>Basic Info</h4>
    <div class="row">
        <div class="col-md-6 form-group">
            <%= f.label :archive_name %>
            <%= f.text_field :human_readable_name, class: "form-control" %>
        </div>
        <div class="col-md-6 form-group">
            <%= f.label :public_archive_subdomain %>
            <div class="input-group">
                <span class="input-group-addon">https://</span>
                <%= f.text_field :public_archive_subdomain, class: "form-control" %>
                <span class="input-group-addon">.transparency.tools</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control", rows: 10 %>
            </div>

            <div class="form-group">
                <%= f.label :theme %>
                <%= f.select :theme, JSON.parse(File.read("app/views/archives/json_select_lists/theme_list.json")), {}, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :language %>
                <%= f.select :language,
                JSON.parse(File.read("app/views/archives/json_select_lists/language_list.json")),
                {selected: "English"}, class: "form-control" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group more-bottom">
                <label>Top Bar Links</label>
                <ul id="list-topbar_links" class="list-unstyled add-bottom">
                    <li class="add-bottom">
                        <input type="text" placeholder="Link Title" class="form-control add-bottom" name="archive[topbar_links][link_title]" value="<%= @archive.topbar_links['link_title'] %>">
                        <input type="text" placeholder="http://link.com" class="form-control" name="archive[topbar_links][link]" value="<%= @archive.topbar_links['link'] %>">
                    </li>
                </ul>
                <a href="#" data-type="topbar_links" class="btn-add-link">
                    Add Link
                </a>
            </div>
            <div class="form-group">
                <label>Info Dropdown Links</label>
                <ul id="list-info_dropdown_links" class="list-unstyled add-bottom">
                    <li class="add-bottom">
                        <input type="text" placeholder="Link Title" class="form-control add-bottom" name="archive[dropdown_links][link_title]" value="<%= @archive.info_dropdown_links['link_title'] %>">
                        <input type="text" placeholder="http://link.com" class="form-control" name="archive[dropdown_links][link]" value="<%= @archive.info_dropdown_links['link'] %>">
                    </li>
                </ul>
                <a href="#" data-type="info_dropdown_links" class="btn-add-link">
                    Add Link
                </a>
            </div>
            <div class="form-group more-top text-right">
                <%= f.submit class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
<script id="template-add-link" type="html/template">
<li class="add-bottom">
    <hr>
    <input type="text" placeholder="Link Title" class="form-control add-bottom" name="archive[{{type}}][link_title]">
    <input type="text" placeholder="http://link.com" class="form-control" name="archive[{{type}}][link]">
</li>
</script>
