<%= form_for @archive do |f| %>
    <h4>Basic Info</h4>
    <div class="row">
        <div class="col-md-6 form-group">
            <%= f.label :archive_name %>
            <%= f.text_field :human_readable_name, class: "form-control" %>
        </div>
        <div class="col-md-6 form-group">
            <%= f.label :public_archive_subdomain %>
            <div class="input-group">
                <span class="input-group-addon">https://</span>
                <%= f.text_field :public_archive_subdomain, class: "form-control" %>
                <span class="input-group-addon">.transparency.tools</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control", rows: 10 %>
            </div>

            <div class="form-group">
                <%= f.label :theme %>
                <%= f.select :theme, JSON.parse(File.read("app/views/archives/json_select_lists/theme_list.json")), {}, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :language %>
                <%= f.select :language,
                JSON.parse(File.read("app/views/archives/json_select_lists/language_list.json")),
                {selected: "English"}, class: "form-control" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h4>Top Bar Links</h4>
                <%= f.fields_for :topbar_links do |t| %>
                <%= t.label :link_title %>
                <%= t.text_field :link_title, class: "form-control" %>
                <%= t.label :link %>
                <%= t.text_field :link, class: "form-control" %>
                <% end %>
            </div>
            <div class="form-group">
                <h4>Info Dropdown Links</h4>
                <%= f.fields_for :info_dropdown_links do |t| %>
                <%= t.label :link_title %>
                <%= t.text_field :link_title, class: "form-control" %>
                <%= t.label :link %>
                <%= t.text_field :link, class: "form-control" %>
                <% end %>
            </div>
            <div class="form-group more-top text-right">
                <%= f.submit class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>
