<% if @archives.length > 0 %>
<h1 class="pull-left">Your Archives</h1>
<a href="<%= new_archive_path %>" class="btn btn-primary more-top pull-right">
    <i class="icon-plus"></i>
    Create New Archive
</a>
<div class="clearfix"></div>
<div class="white-section">
    <ul class="list-unstyled">
        <% @archives.each do |archive| %>
        <li>
            <div class="row">
                <div class="col-md-6">
                <a href="<%= archive_path(archive) %>">
                    <h3><%= archive.human_readable_name %></h3>
                </a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="<%= archive.uploadform_instance %>" class="btn btn-sm btn-primary">
                        <i class="icon-upload"></i>
                        Upload Documents
                    </a>
                    <a href="<%= archive.lookingglass_instance %>" class="btn btn-sm btn-primary">
                        <i class="icon-logo"></i>
                        View on LookingGlass
                    </a>
                </div>
            </div>
            <hr>
        </li>
        <% end %>
    </ul>
</div>
<% else %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="white-section">
            <h1 class="remove-top">Welcome</h1>
            <p class="add-bottom" style="font-size:1.75rem;">
                Welcome to the Transparency Toolkit archive platform. Our goal is to make analyzing large amounts of documents as easy as possible. However, we've just launched this platform so you may expereince bugs. If you have any issues or ideas <a href="/feedback">give us feedback</a>.
            </p>
            <h3>Creating Archives</h3>
            <p class="add-bottom" style="font-size:1.75rem;">
                The first step is to create an archive. Don't worry too much about what you call it or the details as they can all be edited later.
                Additionally, you can create as many archives as you see a need for.
            </p>
            <a href="<%= new_archive_path %>" class="btn btn-lg btn-primary">
                Get Started Now
            </a>
        </div>
    </div>
</div>
<% end %>
