NOTE: On this page, the following changes should be made UI-wise:
<ol>
  <li>Generally clean up form styling</li>
  <li>Hide list of fields to include for publication unless corresponding data source selected</li>
  <li>Hide list of to_publish facet values unless corresponding field selected from dropdown</li>
</ol>

<%= form_with url: archive_publish_archive_path, local: true do |f| %>
<%= f.hidden_field :archive_id, value: @archive.id %>

<!-- Show fields that can be published for each data source -->
<h3>Choose which data sources should be published</h3>
<% @dataspec["datasources"].each do |datasource| %><br /><br /><hr>
  <%= f.label "Publish #{datasource['name']}?".to_sym %>
  <%= f.check_box "publish_#{datasource['class_name']}" %><br />

  <h4>Which field should be used to determine which documents to publish?</h4>
  <%= f.label :publication_filter_field %>
  <%= f.select("filterfield_#{datasource['class_name']}", list_category_fields(datasource), include_blank: true) %>
      
  <!-- List all items in array in collection check boxes -->
  <ul>
    <% list_category_fields_machine_readable(datasource).each do |field_to_check| %>
      <%= f.collection_check_boxes(datasource['class_name']+"_filtervals", @facets[field_to_check].to_a, :to_s, :to_s) %>
    <% end %>
  </ul>

  <h4>Which fields should be included for publication?</h4>
  <!-- Choose which fields should be published for each data source -->
  <%= f.collection_check_boxes(datasource['class_name']+"_include", remap_field_info(datasource), :first, :last) %>
  
<% end %><br />
   <%= f.submit "Publish Archive" %>
<% end %>  


