<h1>Publish Archive</h1>
<div class="white-section">

    <%= form_with url: archive_publish_archive_path, local: true do |f| %>
    <%= f.hidden_field :archive_id, value: @archive.id %>

    <h2>Choose Data Sources</h2>
    <p>Choose which types of documents and which part of those documents should be published or hidden.</p>
    <hr>

    <% @dataspec["datasources"].each do |datasource| %>
    <h3 class="pull-left"><%= datasource['name'] %></h3>

    <label class="switch pull-right">
        <input type="checkbox" id="publish_<%= datasource['class_name'] %>" class="switch-datasource" value="1" checked>
        <span class="slider round"></span>
    </label>
    <div class="clearfix"></div>

    <div id="settings_publish_<%= datasource['class_name'] %>" class="hidden">
        <h4>1. Determine Documents</h4>
        <p>Select fields which will be used to determine which documents to publish.</p>

        <%= f.label :publication_filter_field %>
        <%= f.select("filterfield_#{datasource['class_name']}", list_category_fields(datasource), {}, {include_blank: true, class: 'choose-publication-filter'}) %>

        <br>

        <!-- List all items in array in collection check boxes -->
<% if list_category_fields_machine_readable(datasource) %>
<% list_category_fields_machine_readable(datasource).each do |field_to_check| %>
<ul id="list-<%= field_to_check  %>" class="list-gray-boxes list-publication-filters add-top more-bottom hidden">
    <%= f.collection_check_boxes datasource['class_name'] + "_filtervals", @facets[field_to_check].to_a, :to_s, :to_s do |b| %>
    <li>
        <%= b.check_box %>
        <%= b.label %>
    </li>
    <% end %>
</ul>
<% end %>
<% else %>
Yolo
<% end %>
        <h4>2. Choose Fields</h4>
        <p>
            Choose which fields from a document or entity that should be included publicly.
        </p>

<ul class="list-gray-boxes">
<%= f.collection_check_boxes datasource['class_name'] + "_include", remap_field_info(datasource), :first, :last do |b| %>
    <li>
        <%= b.check_box %>
        <%= b.label %>
    </li>
<% end %>
</ul>

    </div>
    <hr>
    <% end %>

    <div class="text-right">
        <button type="submit" name="commit" class="btn btn-primary" value="Publish Archive" data-disable-with="Publish Archive">
            <i class="icon-document"></i>
            Publish Archive
        </button>
    </div>

    <% end %>

</div>
