<h1>Archive</h1>
<div class="white-section">
    <div class="row">
        <div class="col-md-6">
            <p>
                <strong class="label">Archive Name</strong>
                <span class="name"><%= @archive.human_readable_name %></span>
            </p>
            <p>
                <strong class="label">Public Archive Subdomain</strong>
                https://<%= @archive.public_archive_subdomain %>.transparency.tools
            </p>
            <p>
                <strong class="label">Description</strong>
                <%= @archive.description %>
            </p>
            <p>
                <strong class="label">Theme</strong>
                <%= @archive.theme %>
            </p>
            <p>
                <strong class="label">Language</strong>
                <%= @archive.language %>
            </p>

            <strong class="label">Topbar Links</strong>
            <ul>
                <% if @archive.topbar_links %>
                <li>
                    <a href="<%= @archive.topbar_links["link"] %>" target="_blank">
                        <%= @archive.topbar_links["link_title"] %>
                    </a>
                </li>
                <% end %>
            </ul>

            <strong class="label">Info Dropdown Links</strong>
            <ul>
                <% if @archive.info_dropdown_links %>
                <li>
                    <a href="<% @archive.info_dropdown_links["link"] %>" target="_blank">
                        <%= @archive.info_dropdown_links["link_title"] %>
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
        <div class="col-md-3">

            <strong class="label">Actions</strong>
            <ul class="list-full-buttons more-bottom">
                <li>
                    <a href="<%= @archive.uploadform_instance %>/upload/<%= @archive.index_name %>" class="btn btn-link">
                        <i class="icon-upload"></i>
                        Upload Documents
                    </a>
                </li>
                <li>
                    <a href="<%= @archive.lookingglass_instance %>" class="btn btn-link">
                        <i class="icon-logo"></i>
                        View on LookingGlass
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">

            <% if is_archive_admin? %>
            <h4>Administrator Settings</h4>
            <ul class="list-full-buttons more-bottom">
                <li>
                    <a href="<%= edit_archive_path(@archive) %>" class="btn btn-primary btn-block">
                        <i class="icon-edit"></i>
                        Edit Archive
                    </a>
                </li>
                <li>
                    <a href="<%= archive_give_user_access_form_path(@archive) %>" class="btn btn-info btn-block">
                        <i class="icon-user"></i>
                        Give User Access
                    </a>
                </li>
                <li>
                    <a href="<%= archive_publish_archive_settings_path(@archive) %>" class="btn btn-success btn-block">
                        <i class="icon-document"></i>
                        Publish Archive
                    </a>
                </li>
                <li>
                    <a href="<%= archive_path(@archive) %>" rel="nofollow" data-method="delete" class="btn btn-danger btn-block">
                        <i class="icon-trash"></i>
                        Delete Archive
                    </a>
                </li>
            </ul>
            <% end %>
        </div>
    </div>

    <div class="row hidden">
        <div class="col-md-12">
            <hr>
            <h4>Technical Details</h4>
            <p>
                <strong class="label">Index Name</strong>
                <%= @archive.index_name %>
            </p>
            <p>
                <strong class="label">Upload Form</strong>
                <%= @archive.uploadform_instance %>
            </p>
            <p>
                <strong class="label">DocManager</strong>
                <%= @archive.docmanager_instance %>
            </p>
            <strong class="label">LookingGlass</strong>
            <%= @archive.lookingglass_instance %>
            </p>
            <p>
                <strong class="label">Catalyst</strong>
                <%= @archive.catalyst_instance %>
            </p>
            <p>
                <strong class="label">Data Sources</strong>
                <pre><% @archive.data_sources.each { |item| %><%= item %><br><% } %></pre>
            </p>
        </div>
    </div>

</div>
