<h1>Archive</h1>
<div class="white-section">
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong class="label">Archive Name</strong>
                <span class="name"><%= @archive.human_readable_name %></span>
            </p>
            <p>
                <strong class="label">Description</strong>
                <%= @archive.description %>
            </p>
            <p>
                <strong class="label">Theme</strong>
                <%= @archive.theme %>
            </p>
            <p>
                <strong class="label">Language</strong>
                <%= @archive.language %>
            </p>
            <% if @archive.topbar_links.nil? %>
            <p>
                <strong class="label">Topbar Links</strong>
                <%= @archive.topbar_links %>
                <% @archive.topbar_links do |topbar| %>
                    <%= topbar.link %>
                <% end %>
            </p>
            <% end %>
            <% if @archive.info_dropdown_links %>
            <p>
                <strong class="label">Info Dropdown Links</strong>
                <%= @archive.info_dropdown_links %>
                <% @archive.info_dropdown_links do |info| %>
                    <%= info.link %>
                <% end %>
            </p>
            <% end %>

            <a href="<%= @archive.uploadform_instance %>/upload" class="btn btn-primary">
                <i class="icon-upload"></i>
                Upload Documents
            </a>

            <a href="<%= @archive.lookingglass_instance %>" class="btn btn-primary">
                <i class="icon-logo"></i>
                View on LookingGlass
            </a>

            <a href="<%= @archive.lookingglass_instance %>/catalyst" class="btn btn-primary">
                <i class="icon-analysis"></i>
                Catalyst Text Miner
            </a>
            <hr>

            <% if is_archive_admin? %>
            <h3>Administrator Settings</h3>
            <a href="<%= edit_archive_path(@archive) %>" class="btn btn-primary">
                <i class="icon-edit"></i>
                Edit Archive
            </a>
            <a href="<%= archive_publish_archive_settings_path(@archive) %>" class="btn btn-success">
                <i class="icon-doc"></i>
                Publish Archive
            </a>
            <h4>Delete Archive</h4>
            <a href="<%= archive_path(@archive) %>" class="btn btn-danger">
                <i class="icon-trash"></i>
                Delete Archive
            </a>

            <h4>Users With Access</h4>
            <ul class="list-unstyled">
                <% @archive.users.each do |user| %>
                <li>
                    <i class="icon-user"></i>
                    <%= user.username %> - <%= user.email %>
                    <% if not_an_admin?(user) %>
                    (<%= link_to 'Remove', archive_remove_user_access_path(@archive, user: user.username), method: 'post' %>)
                    <% end %>
                </li>
                <% end %>
            </ul>
            <br />
            <a href="<%= archive_give_user_access_form_path(@archive) %>" class="btn btn-primary">
                <i class="icon-user"></i>
                Give User Access
            </a>
            <% end %>

            <h4>Technical Details</h4>
            <p>
                <strong class="label">Index Name</strong>
                <%= @archive.index_name %>
            </p>
            <p>
                <strong class="label">Upload Form</strong>
                <%= @archive.uploadform_instance %>
            </p>
            <p>
                <strong class="label">DocManager</strong>
                <%= @archive.docmanager_instance %>
            </p>
            <strong class="label">LookingGlass</strong>
            <%= @archive.lookingglass_instance %>
            </p>
            <p>
                <strong class="label">Catalyst</strong>
                <%= @archive.catalyst_instance %>
            </p>

            <p>
            <strong class="label">Data Sources</strong>
            <pre>
            <% @archive.data_sources.each { |item| %>
                <%= item %>
            <% } %>
            </pre>
            </p>
        </div>
    </div>
</div>
